/* Page wrapper */
.dashboard-page-wrapper {
    height: 100vh;
    overflow-x: hidden;
}

/* Page logo */
.logo-container-dash {
    max-width: 250px;
}

.dashboard-page-heading {
    /* border-top: 0.1px grey solid; */
    padding-top: 1.5rem;
}

/* Dashboard page content */
.dashboard-body {
    margin-top: 6.2rem;
    max-width: 42em;
    padding: 1em;
}

/* Dashboard footer */
.dashboard-footer-content {
    border-top: 0.1px solid grey;
    padding-top: 1rem;
}

.readme-text {
    font-size: 13px !important;
}

.readme-page-icon {
    font-size: 16px !important;
    margin-left: 1px;
}

.readme-text-link {
    font-size: 15px !important;
}

/* Media query for screen size of 536px and smaller */
@media only screen and (max-width: 536px) {

    /* Page container */
    .dashboard-body {
        margin-top: 0.5rem !important;
    }

    /* Page logo */
    .logo-container-dash {
        max-width: 180px;
    }
}