/* Page wrapper */
.reset-password-page-wrapper {
    height: 100vh;
    overflow-x: hidden;
}

/* Form container */
.reset-password-container {
    margin-top: 6.2rem;
}

/* Form card */
.reset-password-card {
    box-shadow: var(--shadow);
    border: none !important;
    border-radius: 1rem !important;
}

/* Form icon */
.reset-password-icon {
    font-size: 3.5rem;
}

/* Form submit button */
.send-email-btn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Submit button icon */
.bi-envelope-arrow-up {
    margin-right: 5px;
}

/* Media query for screen size of 536px and smaller */
@media only screen and (max-width: 536px) {
    
    /* Form container */
    .reset-password-container {
        margin-top: 2rem;
    }

    /* Form card */
    .reset-password-card {
        background: none !important;
        box-shadow: none !important;
    }

}